@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Light"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
      format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semilight"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf)
      format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
      format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
      format("truetype");
  font-weight: 700;
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-family: SegoeUI;
}

header {
  z-index: 1;
  height: 900px;
  width: 100%;
  background-color: #2ecc71;
  margin: 0 auto;
}

.content-container {
  margin: 0 auto;
  width: 1170px;
  position: relative;
}

.header-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 30px;
}

.links-wrapper {
  display: flex;
  align-items: center;
}
.logo {
  font-family: sans-serif;
  color: #f4f4f4;
  font-weight: bold;
  font-style: italic;
  font-size: 39px;
  line-height: 24.12px;
}

.app-icon {
  margin-left: 0;
  margin-top: 155px;
  margin-bottom: 65px;
  height: 111px;
  width: 111px;
}

.menu {
  list-style: none;
  display: flex;
  width: 512px;
  text-align: center;
  font-family: sans-serif;
  margin: 0;
}

.menu li a {
  color: #f4f4f4;
  text-decoration: none;
  padding-right: 54px;
  font-size: 18px;
  line-height: 30px;
}

.menu li:last-child {
  padding-right: 0;
}
.get-app-btn {
  width: 140px;
  height: 42px;
  background-color: #fff;
  color: #2ecc71;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}

.header__get-app-btn {
  margin-left: 52px;
}
.promo {
  color: #f4f4f4;
  font-size: 64px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 27px;
}
.promo span {
  font-weight: bold;
}
.promo__description {
  font-family: "roboto";
  color: #f4f4f4;
  width: 584px;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 55px;
}
.app-store-icon {
  width: 130px;
  height: 46px;
  margin-right: 30px;
}
.app-preview-picture {
  position: absolute;
  margin: 0;
  left: 770px;
  bottom: 0;
  top: 147px;
  height: 753px;
  width: 404px;
}
.header-background-wrapper {
  position: absolute;
  z-index: 0;
  height: 900px;
  width: 100%;
}
.header-background {
  position: relative;
  height: 900px;
  width: 100%;
}
.apple-left-1stblock {
  position: absolute;
  top: 260px;
}
.tomato-right-1stblock {
  position: absolute;
  top: 250px;
  right: 50px;
}
.strawberry-1stblock {
  position: absolute;
  left: 909px;
  top: 775px;
}
.small-tomato-1stblock {
  position: absolute;
  top: 650px;
  right: 275px;
}
.banana-1stblock {
  position: absolute;
  top: 105px;
  left: 765px;
}
.calorie-counter-section {
  position: relative;
  width: 100%;
  height: 900px;
}
.second-block-flex-wrapper {
  position: relative;
  display: flex;
  margin-top: 92px;
  margin-left: 370px;
}
.text-wrapper {
  padding: 0;
  margin-left: 330px;
  margin-top: 255px;
  height: 160px;
}
.headline {
  color: #5a5a5a;
  width: 570px;
  font-size: 48px;
  line-height: 60px;
}
.green {
  color: #2ecc71;
}
.section__description {
  width: 470px;
  color: #5a5a5a;
  font-size: 18px;
  line-height: 32px;
}
.icons-circle {
  position: absolute;
  z-index: -1;
  top: 124px;
  left: 100px;
  height: 465px;
  width: 465px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}
.icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: #e7e7e7;
  border-radius: 50%;
  border: 2px solid white;
}
.icon-background:nth-child(3) {
  background-color: #2ecc71;
  border: 4px solid white;
  height: 88px;
  width: 88px;
  border-radius: 50%;
  top: 40%;
  left: 90%;
  box-shadow: 0px 0px 60px 0px rgba(15, 65, 36, 0.15);
}
.sound {
  top: -3%;
  left: 60%;
}
.days {
  top: 13%;
  left: 83%;
}

.favourite {
  top: 73%;
  left: 83%;
}

.interface {
  top: 90%;
  left: 60%;
}
.plan-diet-section {
  overflow: hidden;
  position: relative;
  height: 900px;
  width: 100%;
  background: #f9f9f9;
  z-index: 1;
}
.plan-diet-section-background-wrapper {
  position: absolute;
  height: 900px;
  width: 100%;
}
.plan-diet-section-background {
  position: relative;
  height: 900px;
  width: 100%;
  z-index: -1;
}
.pepper-3rd-block {
  position: absolute;
  top: 360px;
  left: 240px;
}

.apple-3rd-block {
  position: absolute;
  left: 400px;
  bottom: 60px;
}

.strawberry-3rd-block {
  position: absolute;
  top: 405px;
  right: 290px;
}

.banana-3rd-block {
  position: absolute;
  top: 518px;
  right: 350px;
}

.headline-3rd-block {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 682px;
  padding-top: 115px;
}
.section__description-3rd-block {
  margin: 0 auto;
  width: 860px;
  text-align: center;
  vertical-align: middle;
}
.phones-3rd-block {
  display: flex;
  justify-content: center;
}
.center-phone-3rd-block {
  margin: 0;
  margin-top: 87px;
  z-index: 2;
}
.left-phone-3rd-block {
  width: 253px;
  height: 532px;
  align-self: center;
  z-index: 1;
  margin-right: -15px;
  margin-top: 90px;
}
.right-phone-3rd-block {
  width: 253px;
  height: 532px;
  align-self: center;
  z-index: 1;
  margin-left: -15px;
  margin-top: 90px;
}

.headline-4th-block {
  margin-bottom: 17px;
}

.section__description-4th-block {
  width: 470px;
}

.meal-time-section {
  display: flex;
  justify-content: space-between;
  padding-right: 350px;
  padding-left: 375px;
  padding-top: 150px;
  padding-bottom: 144px;
}

.text-wrapper-4th-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meal-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.meal-item-wrapper {
  display: flex;
  height: 109px;
  width: 421px;
  border: 1px solid #eceded;
  border-radius: 8px;
  margin-bottom: 28px;
}

.meal-item-wrapper.center-info {
  width: 525px;
  height: 135px;
}

.meal-item-wrapper.salad {
  background-color: #f9f9f9;
  box-shadow: 0px 0px 60px 0px rgba(48, 60, 17, 0.15);
  margin-bottom: 0;
}
.meal-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
  padding-right: 20px;
  padding-left: 14px;
}

.meal-picture:first-of-type {
  width: 94px;
}
.meal-picture.center {
  width: 130px;
}

.meal-picture.salad {
  width: 110px;
  padding-right: 14px;
}
.meal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
}
.meal-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24.64px;
}
.meal-time span:nth-child(2) {
  font-size: 15.68;
  margin-top: -8px;
  display: flex;
  align-self: flex-end;
}
.meal-energy {
  display: flex;
}

.meal-time.center {
  font-size: 30.8px;
  font-weight: bold;
}
.meal-headline {
  color: #2ecc71;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  letter-spacing: 0.64px;
  font-size: 15.68px;
}

.meal-headline.center-headline {
  font-size: 19.6px;
}

.meal-description {
  font-size: 12px;
  line-height: 16.8px;
  color: #5a5a5a;
  line-height: 16.8px;
  letter-spacing: 0.49px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.meal-description.center {
  font-size: 15.4px;
}
.meal-energy span {
  color: #2ecc71;
  font-weight: bold;
  font-size: 12.32px;
  letter-spacing: 0.49px;
}
.dot {
  margin-left: 10px;
  margin-right: 10px;
  color: #b4b4b4 !important;
  font-size: 2px;
}
.meal-time {
  font-weight: bold;
  color: #b4b4b4;
  font-size: 24.6px;
  padding: 0;
  letter-spacing: 0.98px;
}
.meal-time.center {
  padding-right: 24px;
}
.meal-time.center span:nth-child(2) {
  font-size: 19.6px;
  display: flex;
  align-self: flex-end;
  margin-top: -10px;
}

.apple-info .meal-time span:nth-child(2) {
  font-size: 15.6px;
  margin-left: auto;
  margin-top: -6px;
}

footer {
  position: relative;
  width: 100%;
  height: 443px;
  background-color: #2ecc71;
  z-index: 1;
}
.footer-background-wrapper {
  position: absolute;
  width: 100%;
  height: 443px;
}
.footer-background {
  position: relative;
  width: 100%;
  height: 443px;
  z-index: -1;
}
.pepper-last-block {
  position: absolute;
  top: 89px;
  left: 300px;
}
.strawberry-last-block {
  position: absolute;
  left: 463px;
  bottom: 0;
}

.banana-last-block {
  position: absolute;
  top: 44px;
  right: 270px;
}

.apple-last-block {
  position: absolute;
  bottom: 0;
  right: 0;
}

.tomato-last-block {
  position: absolute;
  top: 73px;
  left: 0;
}
.headline-footer {
  color: white;
  text-align: center;
  width: 680px;
  font-weight: normal;
  padding-top: 100px;
  margin: 0 auto;
}
.bold {
  font-weight: bold;
}
footer .section-description {
  color: white;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  width: 835px;
  margin: 0 auto;
  margin-top: 22px;
}
.footer__get-app-btn {
  display: block;
  width: 247px;
  margin: 0 auto;
  margin-top: 55px;
}
